.cv-preview {
  flex-grow: 1;
  flex-basis: 65%;
  align-self: flex-start;
  background-color: var(--secondary-light);
  padding: 5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main {
  display: flex;
  justify-content: space-between;
}

.main-left {
  flex-basis: 25%;
}

.main-right {
  flex-basis: 65%;
}

.vertical-line {
  border-style: inset;
  border: 1px solid var(--secondary-gray);
}

@media only screen and (max-width: 1100px) {
  .cv-preview {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .cv-preview {
    padding: 2rem;
  }

  .main {
    flex-direction: column;
  }

  .vertical-line {
    margin: 2rem 0;
  }
}
