.cv-preview {
  flex-basis: 65%;
  background-color: var(--secondary-light);
  padding: 5rem;
  margin: 3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main {
  display: flex;
  justify-content: space-between;
}

.main-left {
  flex-basis: 25%;
}

.main-right {
  flex-basis: 65%;
}

.vertical-line {
  border-style: inset;
  border: 1px solid var(--secondary-gray);
}


