.header {
  display: flex;
  justify-content: space-between;
  min-height: 140px;
}

.names {
  display: flex;
  flex-direction: column;
}

.first-name,
.last-name {
  font-size: 5.2rem;
  font-weight: 100;
}

.last-name {
  font-weight: 500;
  margin-left: 10px;
}

.title {
  align-self: flex-start;
  padding: 0 1.8rem;
  background-color: var(--primary-dark);
  color: var(--secondary-light);
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 400;
}

.links ul {
  list-style: none;
  font-size: 1.4rem;
}

.links li {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 12px;
}

.links li:not(:last-child) {
  margin-bottom: 1rem;
}

.icon {
  width: 18px;
  fill: var(--primary-dark);
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
  }

  .first-name,
  .last-name {
    font-size: 3.2rem;
  }

  .last-name {
    font-weight: 500;
    margin-left: 0;
  }

  .names {
    margin-bottom: 4rem;
  }

  .names p {
    line-height: 30px;
  }

  .links li:not(:last-child) {
    margin-bottom: 0.6rem;
  }
}
