.skills {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rating {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}

.rating p {
  text-transform: uppercase;
}

.icon {
  width: 18px;
  fill: var(--primary-dark);
}

.star {
  width: 14px;
  color: var(--primary-dark);
}
