.skills {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 80px;
}

.rating {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}

.icon {
  width: 16px;
  color: var(--primary-dark);
}
