.footer {
  background-color: var(--primary-dark);
  color: var(--secondary-gray);
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
}

a:link,
a:visited {
  color: var(--primary-light);
  transition: 0.2s ease-in-out;
}

a:active,
a:hover {
  color: var(--primary-gray);
}
