.header {
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
  height: 60px;
  color: var(--secondary-gray);
  background-color: var(--primary-dark);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}

.logo {
  width: 42px;
}

img {
  width: 100%;
}

.title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-right: auto;
}
