.cv-form {
  flex-basis: 35%;
  background-color: var(--primary-light);
  flex-shrink: 1;
  margin-right: 3rem;
}

.cv-form > div:not(:last-child) {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1100px) {
  .cv-form {
    width: 100%;
    margin-bottom: 3rem;
  }
}
