.header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.header h3 {
  font-size: 1.6rem;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
