.header {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.header h3 {
  font-size: 1.6rem;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add {
  width: 18px;
  fill: var(--primary-dark);
  cursor: pointer;
}
