


.main {
  display: flex;
  justify-content: center;
}

.cv-form,
.cv-preview {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cv-form {
  flex-basis: 35%;
  background-color: #fff;
  padding: 3rem 5rem;
}

.cv-preview {
  flex-basis: 65%;
  background-color: #f3f4f6;
  padding: 3rem 5rem;
  margin: 3rem;
}

.cv-preview--header {
  display: flex;
  justify-content: space-between;
}

.cv-preview--header-left {
  display: flex;
  flex-direction: column;
}

.cv-preview--first-name,
.cv-preview--last-name {
  font-size: 5.2rem;
  font-weight: 100;
}

.cv-preview--last-name {
  font-weight: 500;
  margin-left: 10px;
}

.cv-preview--title {
  align-self: flex-start;
  padding: 0 1.8rem;
  background-color: #374151;
  color: #e5e7eb;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 400;
}

.list {
  list-style: none;
  font-size: 1.4rem;
}

hr {
  margin: 4rem 0;
  border: 1px solid #e5e7eb;
}

.cv-preview--main {
  display: flex;
  justify-content: space-between;
}

.main-left {
  flex-basis: 20%;
}

.main-right {
  flex-basis: 70%;
}

.panel h1 {
  color: #9ca3af;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.panel p {
  font-size: 1.4rem;
}

.footer {
  background-color: #374151;
  color: #f4f4f5;
  text-align: center;
  padding: 1rem;
  font-size: 1.4rem;
}

a:link,
a:visited {
  color: #fff;
  transition: 0.2s ease-in-out;
}

a:active,
a:hover {
  color: #9ca3af;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form--title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

input {
  font-family: inherit;
  height: 30px;
  display: block;
  padding-inline: 5px;
  outline: none;
  border: none;
  background-color: #f4f4f5;
  transition: 0.4s ease-in-out;
  border-left: 2px solid transparent;
}

textarea {
  font-family: inherit;
  height: 80px;
  padding-inline: 5px;
  resize: none;
  outline: none;
  border: none;
  background-color: #f4f4f5;
  transition: 0.4s ease-in-out;
  border-left: 2px solid transparent;
}

input:focus,
textarea:focus {
  background-color: #e4e4e7;
  border-left: 2px solid #374151;
}

input:-webkit-autofill,
input:-webkit-autofill::first-line,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  font-family: inherit;
}
