*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #374151;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 60px;
  background-color: #e5e7eb;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: sticky;
  top: 0;
  left: 0;
}

.header--logo {
  width: 42px;
}

.header--logo img {
  width: 100%;
}

.header--title {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-right: auto;
}

.header--actions {
  display: flex;
  gap: 8px;
}

.btn {
  font-family: inherit;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 0.4rem 0.8rem;
  transition: 0.2s ease-in-out;
}

.btn:hover,
.btn:active {
  background: #d1d5db;
}

.btn-toggle-preview {
  display: none;
}

.main {
  display: flex;
  justify-content: center;
}

.cv-form,
.cv-preview {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cv-form {
  flex-basis: 35%;
  background-color: #fff;
  padding: 3rem 5rem;
}

.cv-preview {
  flex-basis: 65%;
  background-color: #f3f4f6;
  padding: 3rem 5rem;
  margin: 3rem;
}

.footer {
  background-color: #374151;
  color: #d1d5db;
  text-align: center;
  padding: 1rem;
  font-size: 1.4rem;
}

a:link,
a:visited {
  color: #fff;
  transition: 0.2s ease-in-out;
}

a:active,
a:hover {
  color: #d1d5db;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form--title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

input {
  font-family: inherit;
  height: 30px;
  display: block;
  padding-inline: 5px;
  outline: none;
  border: none;
  background-color: #f4f4f5;
  transition: 0.4s ease-in-out;
  border-left: 2px solid transparent;
}

textarea {
  font-family: inherit;
  height: 80px;
  padding-inline: 5px;
  resize: none;
  outline: none;
  border: none;
  background-color: #f4f4f5;
  transition: 0.4s ease-in-out;
  border-left: 2px solid transparent;
}

input:focus,
textarea:focus {
  background-color: #e4e4e7;
  border-left: 2px solid #374151;
}

input:-webkit-autofill,
input:-webkit-autofill::first-line,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  font-family: inherit;
}
