:root {
  --primary-dark: #374151;
  --secondary-dark: #9ca3af;
  --hover-dark: #4c596d;
  --primary-light: #fff;
  --secondary-light: #f3f4f6;
  --primary-gray: #d1d5db;
  --secondary-gray: #e5e7eb;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--primary-dark);
  background-color: var(--primary-light);
}

button,
input,
textarea {
  border: none;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  background: transparent;
}

h2 {
  color: var(--secondary-dark);
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

hr {
  margin: 4rem 0;
  border: 1px solid var(--secondary-gray);
}

p {
  font-size: 1.4rem;
}
