.icon {
  flex-shrink: 0;
  width: 28px;
  color: var(--primary-dark);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.icon:hover,
.icon:active {
  color: var(--hover-dark);
}

.toggle {
  width: 20px;
  color: var(--secondary-gray);
  cursor: pointer;
}
