.input {
  width: 100%;
  font-size: 1.4rem;
  height: 35px;
  display: block;
  padding-inline: 5px;
  background-color: var(--secondary-light);
  transition: 0.4s ease-in-out;
  border-left: 2px solid transparent;
}

.input:focus {
  background-color: var(--secondary-gray);
  border-left: 2px solid var(--primary-dark);
}

.input:-webkit-autofill,
.input:-webkit-autofill::first-line,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  font-family: inherit;
}
